<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modifier patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{layout:: header}"></div>
<div class="col-md-6 offset-3 mt-3 mb-3">
    <form th:action="@{save(page = ${page}, keywords = ${keywords})}" class="form" th:method="post">
        <div>
            <label class="form-label" th:text="'ID patient : ' +  ${patient.id}"></label>
            <input type="hidden" name="id" id="id" class="form-control" th:value="${patient.id}" readonly>
        </div>
        <div>
            <label for="name" class="form-label">Nom</label>
            <input type="text" name="name" id="name" class="form-control" th:value="${patient.name}">
            <span class="text-danger" th:errors="${patient.name}"></span>
        </div>
        <div>
            <label for="birthdate" class="form-label">Date de naissance</label>
            <input type="date" name="birthdate" id="birthdate" class="form-control" th:value="${patient.birthdate}">
            <span class="text-danger" th:errors="${patient.birthdate}"></span>
        </div>
        <div class="form-check">
            <label for="sickness" class="form-check-label">Malade</label>
            <input type="checkbox" name="sickness" id="sickness" class="form-check-input" th:checked="${patient.sickness}">
            <span class="text-danger" th:errors="${patient.sickness}"></span>
        </div>
        <div>
            <label for="score" class="form-label">Score</label>
            <input type="text" name="score" id="score" class="form-control" th:value="${patient.score}">
            <span th:errors="${patient.score}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">sauvegarder</button>
    </form>
</div>
<div th:replace="~{layout::footer}"></div>
</body>
</html>