<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:include="layout/layout :: headerFragment('Liste des patients')">
    <meta charset="UTF-8">
</head>
<body>
<!--<div th:replace="~{layout:: header}"></div>-->
<div layout:fragment="content">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">liste des patients</div>
            <div class="card-body">
                <form th:action="@{/user/index}" method="get">
                    <label for="keywords">recherche</label>
                    <input type="text" name="keywords" id="keywords" th:value="${keywords}">
                    <button type="submit" class="btn btn-success">chercher!</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date de naissance</th>
                        <th>Nom</th>
                        <th>Malade</th>
                        <th>Score</th>
                        <th sec:authorize="hasRole('ADMIN')">Modifier</th>
                        <th sec:authorize="hasRole('ADMIN')">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${listPatients}">
                        <td th:text="${p.getId()}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.birthdate}"></td>
                        <td th:text="${p.sickness}"></td>
                        <td th:text="${p.score}"></td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-info"
                               th:href="@{/admin/editPatient(id=${p.id}, keywords = ${keywords}, page = ${currentPage})}">
                                Modifier
                            </a>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <form th:action="@{/admin/delete(id=${p.id}, keywords = ${keywords}, page = ${currentPage})}" th:method="delete">
                                <button type="submit" class="btn btn-danger" onclick="confirm('voulez vous vraiment supprimer ce patient?')">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index == currentPage ? 'btn btn-primary ms-1': 'btn btn-outline-primary ms-1' }"
                           th:text="${status.count}"
                           th:href="@{/user/index(page=${status.index}, keywords = ${keywords})}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--<div th:replace="~{layout::footer}"></div>-->
</body>
</html>